
ConsoleArgsParser/.vs/CodeKatas/DesignTimeBuild/.dtbcache
ConsoleArgsParser/.vs/CodeKatas/DesignTimeBuild/.dtbcache
ConsoleArgsParser/.vs/CodeKatas/v15/.suo
ConsoleArgsParser/.vs/CodeKatas/v15/Server/sqlite3/storage.ide
ConsoleArgsParser/.vs/CodeKatas/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
ConsoleArgsParser/NTest/obj/Debug/netcoreapp2.1/NTest.csprojAssemblyReference.cache
